.wpb_text_column-wpb_content_element {
	margin: 10%;
	padding: 2%;
	border: solid 1px gray;
	border-radius: 2px;
	box-shadow: 5px 5px 2px #888888;
	background-color: #F8F8FF;
}

.wpb_wrapper h1 {
	text-align: center;
}